body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #B3E5FC;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom:1rem ;
    
    
}
h1{
    font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;

}


header p {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom:1rem ;
}

hr{
  width: 100%;
  border: 2px solid black;
 
}

 

    #banner{
        width: 100%;
        height: auto;
        margin-top: 1rem;
    margin-bottom:1rem ;
    border-radius: 1rem;

    }
/* Alinha o conteúdo do menu à esquerda */
nav {
    text-align: left;
    color: #333;
    
}
/* Garante que a barra lateral esteja totalmente à esquerda e fixa */
nav .list-group {
    width: 100%; /* Preenche a coluna de 3 partes do grid (col-md-3) */
}

/* Estilo para os links */
.list-group-item {
    font-weight: bold;
    color: #333;
    margin: 4px;
   border-radius: 0.5rem;
}

/* Mudança de cor ao passar o mouse */
.list-group-item:hover {
background-color:  #333;
    color: #007bff;

}
/* Ajuste para o conteúdo principal */
.col-md-9 {
    padding-left: 20px;
}

h1, h2, h3 {
    color: #333;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-family: 'opendyslexic';
	src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Bold.ttf');
	font-weight: bold;
	font-style: normal; }

    .depoimento {
        
        align-items: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #e0f7fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


  
.footer{

 margin: 100%;
    position: relative;
    width: 100%;
    background-color: #B3E5FC;
    align-items: center;
        
        
}
.footer{
    background-color: #B3E5FC;
}
.list-group-item:hover {
    background-color: #f0f0f0;
}




/* Media Queries */
@media (max-width: 375px) and (max-width: 768px) {
    .sidebar {
        display: flex;
        justify-content: space-around;
    }

    .banner {
        padding: 2rem 1rem;
    }

    header h1 h2 h3 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;

    }
}




