
  ul {
    list-style: none;
    padding: 0;

  }


  button {
    background-color: #ddd; /* Cor de fundo verde */
    color: black; /* Cor do texto */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remover borda */
    margin-top: 20px; /* Margem superior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
}
  
    #Click1{
      background-color: #fff;
      color: black
    }
    #Click1:hover {
      background-color: #ccc;
        }
        #pageFooter {
        
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          background-color: #B3E5FC; /* Pode ajustar conforme o tema da sua página */
          text-align: center;
          width: 100%;
      }
      
      #pageFooter .container {
          display: flex;
          justify-content: center;
          align-items: center;

          margin-top: 5rem;
      }
   
      
   