
  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    margin-top: 10px;
    padding: 20px 20;
    background-color: #5491B0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  #logo{
    width: 200px;
    padding: 20px;
  
    vertical-align: middle;}
    
    #Click1{
      background-color: #fff;
      color: black
    }
    #Click1:hover {
      background-color: #ccc;
        }
        #pageFooter {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          background-color: #B3E5FC; /* Pode ajustar conforme o tema da sua página */
          text-align: center;
          width: 100%;
      }
      
      #pageFooter .container {
          display: flex;
          justify-content: center;
          align-items: center;
      }