.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membro {
    text-align: center;
    margin: 50px;
    width: 200px; 
    min-height: 300px; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.membro img {
    width: 200px; /* Definindo a largura da imagem */
    height: 200px; /* Definindo a altura da imagem */
    object-fit: cover; 
    border-radius: 50%; /* Fazendo a imagem redonda */
}

@media screen and (max-width: 768px) {
    .equipe {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 10px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .membro {
        flex: 0 0 auto;
        width: 200px; 
        margin: 0 10px;
        text-align: center;
    }

    .membro img {
        width: 200px; /* Manter a largura da imagem */
        height: 200px; /* Manter a altura da imagem */
        object-fit: cover; 
        border-radius: 50%; 
    }
}

@media only screen and (max-width: 400px) and (max-height: 750px) {
    .membro {
        height: 100vh; /* Corrigido para 100vh */
        position: relative;
    }
}
